<h1 class="mainTitle">Tyler John Nappy</h1></br></br>
<p class="catchphrase">engineer, visionary, man...</p>

<h1 class="projectTitle">Education</h2>
<script type="text/javascript">
  $('#myTab a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li style="width:33%;"><a href="#boston_university" data-toggle="tab">Boston University</a></li>
  <li style="width:33%;"><a href="#columbia_university" data-toggle="tab">Columbia University</a></li>
  <li style="width:33%;"><a href="#startup_institute" data-toggle="tab">Startup Institute</a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane" id="boston_university">
    <div class="row">
      <div class="span3">
        <%= image_tag("https://s3.amazonaws.com/PORTFOLIO_TYLERNAPPY/boston_univ_logo_rgb.jpg", class: "BU_logo") %>
      </div>
      <div class="span3">
        <div>Aerospace Engineering</div>
        <div>Bachelor of Science</div>
        <div>Spring 2011</div>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="columbia_university">
    <div class="row">
      <div class="span3">
        <%= image_tag("https://s3.amazonaws.com/PORTFOLIO_TYLERNAPPY/columbia_logo.jpg", class: "BU_logo") %>
      </div>
      <div class="span3">
        <div>Aerospace Engineering</div>
        <div>Bachelor of Science</div>
        <div>Spring 2011</div>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="startup_institute">
    <div class="row">
      <div class="span3">
        <%= image_tag("https://s3.amazonaws.com/PORTFOLIO_TYLERNAPPY/SINY+logo.png", class: "BU_logo") %>
      </div>
      <div class="span3">
        <div>Aerospace Engineering</div>
        <div>Bachelor of Science</div>
        <div>Spring 2011</div>
      </div>
    </div>
  </div>
</div>



<!-- Building Security Check In Application -->
<h2 class="projectTitle">Building Security Check In Application</h2>
<div class="row">
  <div class="span6">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel lacus dictum, tincidunt felis ut, laoreet metus. Sed at nulla non arcu tincidunt rutrum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam hendrerit arcu eget nibh rutrum scelerisque ac eget enim. Donec rhoncus pellentesque dui malesuada pulvinar. Aenean lorem erat, feugiat eget elementum nec, sagittis sed augue. Maecenas semper suscipit magna, quis malesuada odio adipiscing non.
  </div>

  <div class="span6">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel lacus dictum, tincidunt felis ut, laoreet metus. Sed at nulla non arcu tincidunt rutrum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam hendrerit arcu eget nibh rutrum scelerisque ac eget enim. Donec rhoncus pellentesque dui malesuada pulvinar. Aenean lorem erat, feugiat eget elementum nec, sagittis sed augue. Maecenas semper suscipit magna, quis malesuada odio adipiscing non.
  </div>

</div>

<!-- Bacon, Egg, and Cheese Robot -->
<h3 class="projectTitle">Bacon, Egg, and Cheese Robot</h2>
<div class="row">
  <div class="span7">
    <script type="text/javascript">
      $(document).ready(function() {
        $('.carousel').carousel({
          interval: 500,
          pause: 'false'
        })
      });
    </script>

    <div class="container" id="carousel">

      <div id="myCarousel" class="carousel slide carousel-fade">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item"><%= image_tag("https://s3.amazonaws.com/PORTFOLIO_TYLERNAPPY/BECR_diagonal_1.JPG", class: "BECR_image") %></div>
          <div class="item"><%= image_tag("https://s3.amazonaws.com/PORTFOLIO_TYLERNAPPY/BECR_side_2.JPG", class: "BECR_image") %></div>
          <div class="item"><%= image_tag("https://s3.amazonaws.com/PORTFOLIO_TYLERNAPPY/BECR_diagonal_2.JPG", class: "BECR_image") %></div>
          <div class="item"><%= image_tag("https://s3.amazonaws.com/PORTFOLIO_TYLERNAPPY/BECR_side_1.JPG", class: "BECR_image") %></div>
          <div class="item"><%= image_tag("https://s3.amazonaws.com/PORTFOLIO_TYLERNAPPY/BECR_top.JPG", class: "BECR_image") %></div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev" >&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
  </div>

  <div class="span4">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel lacus dictum, tincidunt felis ut, laoreet metus. Sed at nulla non arcu tincidunt rutrum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam hendrerit arcu eget nibh rutrum scelerisque ac eget enim. Donec rhoncus pellentesque dui malesuada pulvinar. Aenean lorem erat, feugiat eget elementum nec, sagittis sed augue. Maecenas semper suscipit magna, quis malesuada odio adipiscing non.
    </p>
  </div>

</div>

<!-- Mock Venmo Application -->
<h2 class="projectTitle">Mock Venmo Application</h2>
<div class="row">
  <div class="span6">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel lacus dictum, tincidunt felis ut, laoreet metus. Sed at nulla non arcu tincidunt rutrum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam hendrerit arcu eget nibh rutrum scelerisque ac eget enim. Donec rhoncus pellentesque dui malesuada pulvinar. Aenean lorem erat, feugiat eget elementum nec, sagittis sed augue. Maecenas semper suscipit magna, quis malesuada odio adipiscing non.
  </div>

  <div class="span6">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel lacus dictum, tincidunt felis ut, laoreet metus. Sed at nulla non arcu tincidunt rutrum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam hendrerit arcu eget nibh rutrum scelerisque ac eget enim. Donec rhoncus pellentesque dui malesuada pulvinar. Aenean lorem erat, feugiat eget elementum nec, sagittis sed augue. Maecenas semper suscipit magna, quis malesuada odio adipiscing non.
  </div>

</div>
