<div class="row">
  <div class="span7">
    <h1 class="mainTitle">Tyler Nappy</h1></br></br>
    <p class="catchphrase">engineer, hardware designer, web developer, man.</p>
  </div>
  <div class="span5">
    <div class="contact-info">
      
      <div>(516) 967-1237  <%= image_tag("https://s3.amazonaws.com/PORTFOLIO_TYLERNAPPY/iphone_logo.png", class: "contact-info-logo") %></div>
      
      <div>tylernappy@gmail.com  <%= image_tag("https://s3.amazonaws.com/PORTFOLIO_TYLERNAPPY/gmail_logo.png", class: "contact-info-logo") %></div>
      
      <div><a target="_blank" href="http://www.linkedin.com/in/tylernappy">tylernappy  <%= image_tag("https://s3.amazonaws.com/PORTFOLIO_TYLERNAPPY/linkedin_logo.png", class: "contact-info-logo") %></a></div>
      
      <div><a target="_blank" href="https://twitter.com/tylernappy">@tylernappy <%= image_tag("https://s3.amazonaws.com/PORTFOLIO_TYLERNAPPY/twitter_logo.png", class: "contact-info-logo") %></a></div>
      
      <div><a target="_blank" href="https://github.com/tylernappy">tylernappy  <%= image_tag("https://s3.amazonaws.com/PORTFOLIO_TYLERNAPPY/github_logo_2.png", class: "contact-info-logo") %></a></div>
    </div>
  </div>
</div>

<div class="well">
  <div class="row">
    <div class="span12">
      <h1 class="projectTitle">My Stack, Skills</h1>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <button type="button" class="btn btn-default btn-block">Ruby on Rails</button>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <button type="button" class="btn btn-default btn-block">HTML</button>
      <button type="button" class="btn btn-default btn-block">CSS</button>
      <button type="button" class="btn btn-default btn-block">Javascript</button>
      <button type="button" class="btn btn-default btn-block">Amazon Web Services</button>
    </div>
    <div class="span4">
      <button type="button" class="btn btn-default btn-block">SolidWorks</button>
      <button type="button" class="btn btn-default btn-block">MATLAB</button>
      <button type="button" class="btn btn-default btn-block">ANSYS</button>
      <button type="button" class="btn btn-default btn-block">C++</button>
    </div>
    <div class="span4">
      <button type="button" class="btn btn-default btn-block">Arduino</button>
      <button type="button" class="btn btn-default btn-block">Soldering</button>
      <button type="button" class="btn btn-default btn-block">Hardware Design</button>
      <button type="button" class="btn btn-default btn-block">Circuit Building</button>
    </div>
  </div>
</div>


<!-- Education -->
<div class="well">
<h1 class="projectTitle">Education</h2>
<script type="text/javascript">
  $('#myTab a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>
<!-- Nav tabs -->
<ul class="nav nav-pills nav-justified">
  <li style="width:33%;"><a href="#boston_university" data-toggle="tab"><%= image_tag("https://s3.amazonaws.com/PORTFOLIO_TYLERNAPPY/boston_univ_logo_rgb.jpg", class: "BU_logo_thumbnail") %></a></li>
  <li style="width:33%;"><a href="#columbia_university" data-toggle="tab"><%= image_tag("https://s3.amazonaws.com/PORTFOLIO_TYLERNAPPY/columbia_logo.jpg", class: "columbia_logo_thumbnail") %></a></li>
  <li style="width:33%;"><a href="#startup_institute" data-toggle="tab"><%= image_tag("https://s3.amazonaws.com/PORTFOLIO_TYLERNAPPY/SINY+logo.png", class: "SI_logo_thumbnail") %></a></li>
</ul>
<hr>
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane" id="boston_university">
    <div class="row">
      <div class="span4">
        <div class="education">
          <div>Aerospace Engineering</div>
        </div>
      </div>
      <div class="span4">
        <div class="education">
          <div>Bachelor of Science</div>
        </div>
      </div>
      <div class="span4">
        <div class="education">
          <div>May 2011</div>
        </div>
      </div>
    </div>
    <div class="row">      
      <div class="span12">
        <script type="text/javascript">
          $('#myTab a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
          })
        </script>
        <!-- Nav tabs -->
        <ul class="nav nav-pills nav-justified">
          <li style="width:50%;"><a href="#courses" data-toggle="tab">Courses</a></li>
          <li style="width:50%;"><a href="#relevant_projects" data-toggle="tab">Relevant Projects</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane" id="courses">
            <div class="row">
              <div class="span6">
                <div class="courses">                  
                  <button type="button" class="btn btn-default btn-block">Electric Circuit Theory</button>
                  <button type="button" class="btn btn-default btn-block">Flight Vehicle Design</button>
                  <button type="button" class="btn btn-default btn-block">Aerodynamics</button>
                  <button type="button" class="btn btn-default btn-block">Thermodynamics</button>
                  <button type="button" class="btn btn-default btn-block">Flight Structures</button>
                  <button type="button" class="btn btn-default btn-block">Compressible Flow</button>
                  <button type="button" class="btn btn-default btn-block">Modern Physics</button>
                </div>
              </div>
              <div class="span6">
                <button type="button" class="btn btn-default btn-block">Space Vehicle Dynamics</button>
                <button type="button" class="btn btn-default btn-block">Fluid Mechanics</button>
                <button type="button" class="btn btn-default btn-block">Mechanics of Solids</button>
                <button type="button" class="btn btn-default btn-block">Flight Mechanics</button>
                <button type="button" class="btn btn-default btn-block">Control Systems</button>
                <button type="button" class="btn btn-default btn-block">Advanced Dynamics</button>
                <button type="button" class="btn btn-default btn-block">Instrumentation</button>
              </div>
            </div>
          </div>
          
          <div class="tab-pane" id="relevant_projects">
            <div class="row">
              <div class="span12">

                <script type="text/javascript">
                  $('#myTab a').click(function (e) {
                    e.preventDefault()
                    $(this).tab('show')
                  })
                </script>
                <!-- Nav tabs -->
                <ul class="nav nav-pills nav-stacked">
                  <li style="width:100%;"><a href="#uav_design" data-toggle="tab">UAV Design</a></li>
                  <li style="width:100%;"><a href="#structural_analysis" data-toggle="tab">Structural Analysis</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane" id="uav_design">
                    <div class="row">
                      <div class="span12">
                        <div class="project-description">
                          <table class="table table-striped">
                            <tr><td>Designed 100 lb. UAV with the mission of both combat and reconnaissance</td><tr>
                            <tr><td>Selected optimal propulsion method, two-stroke engine, for given requirements and constraints</td><tr>
                            <tr><td>Designed propeller geometry and calculated the engine’s RPM required to maintain particular aircraft speeds</td><tr>
                            <tr><td>Performed detailed analysis for aircraft’s rocket assisted takeoff to meet FAA requirements</td><tr>
                            <tr><td>Calculated operating envelope and performed a minimum time to climb analysis</td><tr>
                            <tr><td>Showcased progress as individual in relation to team’s overall design in weekly meetings and presentations</td><tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="structural_analysis">
                    <div class="row">
                      <div class="span12">
                        <div class="project-description">
                          <table class="table table-striped">
                            <tr><td>Modeled two geometrically identical wings in ANSYS – one with circular hole for fueling, the other without</td><tr>
                            <tr><td>Performed FEA; wrote MATLAB script to compute stresses, stains, shear force, bending moment, and tip deflection as a function of wing span due to lift and drag</td><tr>
                            <tr><td>Compared and contrasted results for both wings</td><tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div> 
  </div>

  <!-- Columbia Tab -->
  <div class="tab-pane" id="columbia_university">
    <div class="row">
      <div class="span4">
        <div class="education">
          <div>Electromechanical Engineering</div>
        </div>
      </div>
      <div class="span4">
        <div class="education">
          <div>Continuing Education</div>
        </div>
      </div>
      <div class="span4">
        <div class="education">
          <div>May 2012</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <script type="text/javascript">
          $('#myTab a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
          })
        </script>
        <!-- Nav tabs -->
        <ul class="nav nav-pills nav-justified">
          <li style="width:50%;"><a href="#courses_columbia" data-toggle="tab">Courses</a></li>
          <li style="width:50%;"><a href="#relevant_projects_columbia" data-toggle="tab">Relevant Projects</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane" id="courses_columbia">
            <div class="row">
              <div class="span6">
                <div class="courses">               
                  <a target="_blank" href="http://en.wikipedia.org/wiki/Robotics"><button type="button" class="btn btn-default btn-block">Robotics</button></a>
                </div>
              </div>
              <div class="span6">
                <div class="courses">
                  <a target="_blank" href="http://en.wikipedia.org/wiki/Digital_control"><button type="button" class="btn btn-default btn-block">Digital Control Systems</button></a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="tab-pane" id="relevant_projects_columbia">
            <div class="row">
              <div class="span12">

                <script type="text/javascript">
                  $('#myTab a').click(function (e) {
                    e.preventDefault()
                    $(this).tab('show')
                  })
                </script>
                <!-- Nav tabs -->
                <ul class="nav nav-pills nav-stacked">
                  <li style="width:100%;"><a href="#surgical_robot_design" data-toggle="tab">Surgical Robot Design</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane" id="surgical_robot_design">
                    <div class="row">
                      <div class="span12">
                        <div class="project-description">
                          <table class="table table-striped">
                            <tr><td>Designed robot whose function is to assist surgeons during knee resurfacing surgery</td><tr>
                            <tr><td>Selected appropriate degrees of freedom for given requirements and constraints</td><tr>
                            <tr><td>Chose Denavit–Hartenberg parameters for selected degrees of freedom</td><tr>
                            <tr><td>Calculated kinematic equations, dynamics equations, force propagation and torque propagation</td><tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div> 
  </div>
  <!-- Startup Institute -->
  <div class="tab-pane" id="startup_institute">
    <div class="row">
      <div class="span4">
        <div class="education">
          <div>Web Development</div>
        </div>
      </div>
      <div class="span4">
        <div class="education">
          <div>Career Accelerator</div>
        </div>
      </div>
      <div class="span4">
        <div class="education">
          <div>December 2013</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <script type="text/javascript">
          $('#myTab a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
          })
        </script>
        <!-- Nav tabs -->
        <ul class="nav nav-pills nav-justified">
          <li style="width:50%;"><a href="#courses_startup_institute" data-toggle="tab">Skills Atained</a></li>
          <li style="width:50%;"><a href="#relevant_projects_startup_institute" data-toggle="tab">Relevant Projects</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane" id="courses_startup_institute">
            <div class="row">
              <div class="span6">
                <div class="courses">               
                  <a target="_blank" href="http://en.wikipedia.org/wiki/Ruby_on_Rails"><button type="button" class="btn btn-default btn-block">Ruby on Rails</button></a>
                  <a target="_blank" href="http://en.wikipedia.org/wiki/HTML"><button type="button" class="btn btn-default btn-block">HTML</button></a>
                  <a target="_blank" href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets"><button type="button" class="btn btn-default btn-block">CSS</button></a>
                </div>
              </div>
              <div class="span6">
                <div class="courses">
                  <a target="_blank" href="http://en.wikipedia.org/wiki/JavaScript"><button type="button" class="btn btn-default btn-block">JavaScript</button></a>
                  <a target="_blank" href="http://en.wikipedia.org/wiki/Amazon_Web_Services"><button type="button" class="btn btn-default btn-block">Amazon Web Services</button></a>
                  <a target="_blank" href="http://en.wikipedia.org/wiki/Nodejs"><button type="button" class="btn btn-default btn-block">Node.js</button></a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="tab-pane" id="relevant_projects_startup_institute">
            <div class="row">
              <div class="span12">

                <script type="text/javascript">
                  $('#myTab a').click(function (e) {
                    e.preventDefault()
                    $(this).tab('show')
                  })
                </script>
                <!-- Nav tabs -->
                <ul class="nav nav-pills nav-stacked">
                  <li style="width:100%;"><a href="#open_table_clone" data-toggle="tab">Open Table Clone</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane" id="open_table_clone">
                    <div class="row">
                      <div class="span12">
                        <div class="project-description">
                          <table class="table table-striped">
                            <tr><td>Scroll further down for a full description of this project</td><tr>                       
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>
</div>


<!-- Building Security Check In Application -->
<div class="well">
  <h2 class="projectTitle">Building Security Check In Application [Ruby on Rails]</h2>
  <div class="row">
    <div class="span8" id="margintop"> 
      <div>
        Ruby on Rails application used as a platform checking in building guests. The software uniquely connects building conceierge and guests coming into the building.  Users can see where and when their meetings are and have visual representation available via Google Maps API.  A work in progress.
      </div>
    </br>
      <div>
        <a target="_blank" href="http://en.wikipedia.org/wiki/Ruby_on_Rails"><button type="button" class="btn btn-info">Go to the Site</button></a>
      </div>
    </div>
    <div class="span2">
      <h3>Features</h3>
        <ul>
          <li>Google Maps API</li>
          <li>Devise</li>
          <li>Bootstrap</li>
        </ul>
    </div>
    <div class="span2" id="margintop">
      <div class="project-button">
        <a target="_blank" href="https://github.com/tylernappy/security-app"><%= image_tag("https://s3.amazonaws.com/PORTFOLIO_TYLERNAPPY/github_logo_2.png", class: "github_logo") %></a>
      </div>
    </div>
  </div>
</div>

<!-- Bacon, Egg, and Cheese Robot -->
<div class="well">
  <h2 class="projectTitle">Bacon, Egg, and Cheese Robot</h2>
  <h4>Phase 1</h4>
  <div class="row">
    <div class="span7">
      <script type="text/javascript">
        $(document).ready(function() {
          $('.carousel').carousel({
            interval: 500,
            pause: 'false'
          })
        });
      </script>

      <div class="container" id="carousel">

        <div id="myCarousel" class="carousel slide carousel-fade">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item"><%= image_tag("https://s3.amazonaws.com/PORTFOLIO_TYLERNAPPY/BECR_diagonal_1.JPG", class: "BECR_image") %></div>
            <div class="item"><%= image_tag("https://s3.amazonaws.com/PORTFOLIO_TYLERNAPPY/BECR_side_2.JPG", class: "BECR_image") %></div>
            <div class="item"><%= image_tag("https://s3.amazonaws.com/PORTFOLIO_TYLERNAPPY/BECR_diagonal_2.JPG", class: "BECR_image") %></div>
            <div class="item"><%= image_tag("https://s3.amazonaws.com/PORTFOLIO_TYLERNAPPY/BECR_side_1.JPG", class: "BECR_image") %></div>
            <div class="item"><%= image_tag("https://s3.amazonaws.com/PORTFOLIO_TYLERNAPPY/BECR_top.JPG", class: "BECR_image") %></div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev" >&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>
    </div>

    <div class="span4">
      <h3>Software Used</h3>
      <ul>
        <li>SolidWorks</li>
        <li>MATLAB</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <p>
        Robot whose end product is a bacon, egg, and cheese sandwich.  This project is broken into two phases: phase 1, and phase 2 -- to the left is phase 1. For each phase, design and analysis consists of conceptual design, DOF, layout, CAD drawings, material selection, structural analysis, motor sizing, dynamics, cost analysis, assembly, wiring, and microcontroller programming; specifically for phase 1, the phase I am working on at the moment, design and analysis includes the housing, moving egg pan, moving top cooking plate, stationary heating element, motor sizing, shaft selection, clamp selection, bearing selection, gear sizing, gear train layout, and material selection.  After phase 1 is complete, I will move onto phase 2: egg sandwich assembly. To accomplish this task, the egg will slide off of the plate it was cooked on and onto a transport mechanism comprised of two parallel gear racks acting as tracks; additionally, the mechanism will also pitch, in order to slide the egg off the mechanism and onto the bagel, so, the transport mechanism will have a total of two degrees of freedom in order to effectively transport the egg to the bagel.  The drawings to the left were made in SolidWorks.
      </p>
    </div>
  </div>
</div>

<!-- Mock Venmo Application -->
<div class="well">
  <h2 class="projectTitle">Mock Venmo Application [Ruby]</h2>
  <div class="row">
    <div class="span8" id="margintop"> 
      <div>
        Mock Venmo Application written in Ruby and Run from the Command line.  Download and play around with it.  Requires Ruby 2.0.0.
      </div>
    </div>
    <div class="span2" id="margintop">
    <b>
      <div>Download from GitHub</div>
    </br>
      <div>---------------------------></div>
    </div>
    </b>
    <div class="span2">
      <div class="project-button">
        <a target="_blank" href="https://github.com/tylernappy/ruby-mock-venmo-app"><%= image_tag("https://s3.amazonaws.com/PORTFOLIO_TYLERNAPPY/github_logo_2.png", class: "github_logo") %></a>
      </div>
    </div>
  </div>
</div>

<!-- Waist Mounted GPS Running Assistant -->
<div class="well">
  <h2 class="projectTitle">Waist Mounted GPS Running Assistant [Arduino]</h2>
  <div class="row">
    <div class="span8" id="margintop"> 
      <div>Waist mounted GPS running assistant that gives the runner visual feedback of his or her pace so he or she may adjust accordingly.  After the conception of the idea, I decided what components were needed to accomplish this task, researched these components, and selected the appropriate ones that met my needs and specifications while optimizing the device’s functionality and minimizing its cost.  I then assembled the breadboard for each individual component (GPS, LED display, encoder, servo motor) in order to make sure the wiring was correct, and then went on to write the accompanying microcontroller software.  After I had completed the software for each individual component, I began the assembly of the final product by soldering the circuit board and mounting the components within the casing.  Having completed this, I am now in the process of debugging it.</div>
    </div>
    <div class="span2">
      <h3>Components</h3>
        <ul>
          <li>Arduino</li>
          <li>GPS</li>
          <li>Servo Motor</li>
          <li>2 Lasers</li>
          <li>Encoder</li>
          <li>LED Display</li>        
        </ul>
    </div>
    <div class="span2" id="margintop">
      <%= image_tag("https://s3.amazonaws.com/PORTFOLIO_TYLERNAPPY/gps_running_assistant.jpeg", class: "gps-photo") %>
    </div>
  </div>
</div>


<!-- OpenTable Clone -->
<div class="well">
  <h2 class="projectTitle">OpenTable Clone [Ruby on Rails]</h2>
  <div class="row">
    <div class="span8" id="margintop"> 
      <div>OpenTable clone Ruby on Rails application created during the Startup Institute.</div>
      </br>
      <a target="_blank" href="http://en.wikipedia.org/wiki/Ruby_on_Rails"><button type="button" class="btn btn-info">Go to the Site</button></a>
    </div>
    <div class="span2">
      <h3>Features</h3>
        <ul>
          <li>Google Maps API</li>
          <li>Devise</li>
          <li>Bootstrap</li>
          <li>rmagick</li>
          <li>Factorgirl</li>
          <li>Carrierwave</li>
          <li>fog</li>
          <li>Amazon Web Services</li>          
        </ul>
    </div>
    <div class="span2" id="margintop">
      <div class="project-button">
        <a target="_blank" href="https://github.com/tylernappy/security-app"><%= image_tag("https://s3.amazonaws.com/PORTFOLIO_TYLERNAPPY/github_logo_2.png", class: "github_logo") %></a>
      </div>
    </div>
  </div>
</div>

<!-- This site -->
<div class="well">
  <h2 class="projectTitle">This Site! [Ruby on Rails]</h2>
  <div class="row">
    <div class="span8" id="margintop"> 
      <div>Created using Ruby on Rails but is very HTML, CSS, JavaScrip, JQuery emphasized.</div>
      </br>
      <script type="text/javascript">
        $("a[href='#top']").click(function() {
          $("html, body").animate({ scrollTop: 0 }, "slow");
          return false;
        });
      </script>
      <a href="#top"><button type="button" class="btn btn-info">Go Back to Top</button></a>
    </div>
    <div class="span2">
      <h3>Features</h3>
        <ul>
          <li>Bootstrap</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>jQuery</li>
          <li>Amazon Web Services</li>          
        </ul>
    </div>
    <div class="span2" id="margintop">
      <div class="project-button">
        <a target="_blank" href="https://github.com/tylernappy/portfolio-site"><%= image_tag("https://s3.amazonaws.com/PORTFOLIO_TYLERNAPPY/github_logo_2.png", class: "github_logo") %></a>
      </div>
    </div>
  </div>
</div>
